@CHARSET "ISO-8859-1";


body {
	background-image: url(../images/cov5.jpg);
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 1280px 611px;
}

input[type=text],input[type=password], select,textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

label {
	color: white;
	font-family: cursive;
}

form {
	border-radius: 10px 10px 10px 10px;
    /* background: #dcd5e2; */
    padding: 42px;
    width: 21%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: right;
    margin-left: 887px;
    margin-bottom: 18px;
    margin-top: 26px;
    height: auto;
    z-index: -101;
}

input[type=submit] {
	width: auto;
    background-color: #006da0;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    width: 12%;
    background-color: #83b0cb;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 961px;  
}
input[type=submit]:hover {
	background-color: white;
	color: black
}

button:hover {
	background-color: white;
	color: black
}

h2 {	
    margin-top: -21px;
    font-family: cursive;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

h1,h3{
background-color: #ea2324;
    color: white;
    font-family: cursive;
    width: 101%;
    margin-left: -7px;
}

 h3{   height: 45px;
    font-size: 30px;
    margin-top: 146px;
    bottom: 0;
    position: fixed;
    left: 0;
 }
 
 a{
 color: white;
    font-family: cursive;
    float: right;
    margin-right: 30px;
 }
 
 
 
 img{
     margin-left: 500px;
 }
 