@CHARSET "ISO-8859-1";

body {
	background-image: url(../images/404image.jpg);
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 1280px 611px;
}

#error{
	background-image: url(../images/somethingwentwrong.jpg);
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 1280px 611px;
	
}

h1,h3{
background-color: #ea2324;
    color: white;
    font-family: cursive;
    width: 101%;
    margin-left: -7px;
}

 h3{   height: 45px;
    font-size: 30px;
    margin-top: 146px;
    bottom: 0;
    position: fixed;
    left: 0;
 }
 
 h6{
 font-size: 50px;
    color: wheat;
 }