@CHARSET "ISO-8859-1";


body {
	background-image: url(../images/cov2.jpg);
	background-color: #cccccc;
	background-repeat: no-repeat;
	background-size: 1280px 611px;
}
table{
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border-collapse: collapse;
  width: 89%;
  margin-bottom: 20px;
  margin-left: 55px;
  text-align:center;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  background-color: white;
}
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
  
}

td{
	font-size: 20px;
}

 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

 th {
  padding-top: 12px;
  padding-bottom: 12px;  
  background-color: #006da0;
  color: white;
}

h1,h3{
background-color: #ea2324;
    color: white;
    font-family: cursive;
    width: 101%;
    margin-left: -7px;
}

 h3{   height: 45px;
    font-size: 30px;
    margin-top: 146px;
    bottom: 0;
    position: fixed;
    left: 0;
 }
 
 input[type=submit] {
	width: 49%;
    background-color: #006da0;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button{
    width: 12%;
    background-color: #006da0;
    color: white;
    padding: 6px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 961px;  
    margin-top: -16px;
}

input[type=submit]:hover {
	background-color: white;
	color: black
}

button:hover {
	background-color: white;
	color: black
}

h2 {	
    margin-top: -21px;
    font-family: cursive;
    color: #006da0;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: -4px;
}

#container{
	margin-top:50px;
}
#addProduct{
margin-left: 61px;
}
